.about {
    background: $purple-light;
}

.about-container {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 70px;
    height: 100%;
    display: flex;
    justify-content: space-around;

    .vector {
        width: 440px;
        height: 367px;
    }

    .about-info {
        color: $white;
        width: 696px;
        padding-bottom: 60px;

        h2 {
            padding-bottom: 26px;
        }

        p {
            color: $gray;
            line-height: 22px;
        }

        .about-button {
            margin-top: 40px;
            
            a {
                background: $blue;
                border-radius: 5px;
                padding: 15px 30px;
                color: $white;
                font-weight: bold;
                font-size: 18px;
                transition: all .5s ease;

                &:hover {
                    opacity: 0.8;
                }
            
                .github-icon {
                    vertical-align: middle;
                    padding-bottom: 5px;
                }
            }
        }
    }
}