header{
    width: 100%;
    position: fixed;
    background: $purple-light;
    border-bottom: 1px solid $border-light;
    z-index: 800;
}



nav {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;

    .nav-menu {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
                padding: 0px 30px;

                a {
                    color: $white;
                    text-transform: uppercase;
                    transition: all .5s ease-in-out;

                    &:hover {
                        color: $white-dark;
                    }
                }
            }
        }
    }

    .nav-theme {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    svg {
        cursor: pointer;
    }
}