.skill-card {
    width: 23rem;
    height: 7.4rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    background-color: #FBFAFC;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--lilac);
}

.skill-card__image {
    margin-top: 0.3rem;
    margin-left: 2rem;
}

.skill-card__info p:first-child {
    color: var(--black);
    font-weight: 700;
    letter-spacing: -0.025em;
}

.skill-card__info p:nth-child(2) {
    margin-top: 0.4rem;
    color: var(--gray-200);
    font-size: 1.5rem;
    line-height: 134.5%;
    letter-spacing: -0.025em;
}