.title span {
    font-size: 2.4rem;
    line-height: 2.7rem;
    color: var(--lilac);
    font-family: 'PT Mono', sans-serif;
}

.title h3 {
    color: var(--black);
    display: inline;
    margin-left: 0.5rem;
}