@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 55px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 44px;
  }
}

h2 {
  font-size: 40px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 30px;
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

p {
  font-size: 17px;
}

@media (max-width: 576px) {
  p {
    font-size: 15.5px;
  }
}

a {
  text-decoration: none;
  font-size: 17px;
}

@media (max-width: 576px) {
  a {
    font-size: 15.5px;
  }
}

header {
  width: 100%;
  z-index: 999;
  width: 100%;
  position: fixed;
  background: #0E091B;
  border-bottom: 1px solid #2C2837;
}

nav {
  height: 75px;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0px 10px;
}

nav .brand {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #5398BE;
}

nav .menu-toggle {
  display: none;
}

@media (max-width: 620px) {
  nav .menu-toggle {
    display: block;
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }
  nav .menu-toggle .one,
  nav .menu-toggle .two,
  nav .menu-toggle .three {
    background-color: #D7D7D7;
    height: 4px;
    width: 100%;
    margin: 6px auto;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  nav .menu-toggle .one {
    margin-top: 0px;
  }
}

@media (max-width: 620px) {
  nav .nav-items {
    display: none;
  }
}

nav .nav-items ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

nav .nav-items ul li {
  list-style: none;
}

nav .nav-items ul li a {
  color: #F4F2F7;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .nav-items ul li a:hover {
  color: #EAEAEA;
}

@media (max-width: 620px) {
  nav.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #151022;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 620px) {
  nav.on .nav-items {
    display: block;
  }
}

@media (max-width: 620px) {
  nav.on .nav-items ul {
    text-align: center;
    display: block;
  }
}

@media (max-width: 620px) {
  nav.on .nav-items ul a {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    font-size: 25px;
    line-height: 70px;
    display: block;
  }
}

@media (max-width: 620px) {
  nav.on .menu-toggle {
    position: absolute;
    right: 12px;
    top: 25px;
  }
}

@media (max-width: 620px) {
  nav.on .menu-toggle .one {
    -webkit-transform: rotate(45deg) translate(6px, 6px);
            transform: rotate(45deg) translate(6px, 6px);
  }
}

@media (max-width: 620px) {
  nav.on .menu-toggle .two {
    opacity: 0;
  }
}

@media (max-width: 620px) {
  nav.on .menu-toggle .three {
    -webkit-transform: rotate(-45deg) translate(8px, -9px);
            transform: rotate(-45deg) translate(8px, -9px);
  }
}

#hero {
  height: 70vh;
}

.hero-container {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

@media (max-width: 1200px) {
  .hero-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 920px) {
  .hero-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-container .hero-info {
  color: #F4F2F7;
}

.hero-container .hero-info p:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 920px) {
  .hero-container .hero-info p:first-child {
    text-align: center;
  }
}

.hero-container .hero-info .name {
  color: #5398BE;
}

@media (max-width: 920px) {
  .hero-container .hero-info .name {
    text-align: center;
  }
}

.hero-container .hero-info .hero-study,
.hero-container .hero-info .hero-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container .hero-info .hero-study {
  margin-top: 30px;
}

.hero-container .hero-info .hero-study p {
  padding-left: 10px;
}

.hero-container .hero-info .hero-location {
  margin-top: 10px;
}

.hero-container .hero-info .hero-location .location {
  padding-left: 4px;
}

.hero-container .hero-info .hero-location p {
  padding-left: 14px;
}

.hero-container .hero-info .hero-download-cv {
  margin-top: 45px;
}

.hero-container .hero-info .hero-download-cv a {
  background: -webkit-gradient(linear, left top, left bottom, from(#5398BE), to(rgba(83, 152, 190, 0)));
  background: linear-gradient(180deg, #5398BE 0%, rgba(83, 152, 190, 0) 100%);
  border: 1px solid #5398BE;
  border-radius: 5px;
  padding: 20px 37px;
  color: #F4F2F7;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero-container .hero-info .hero-download-cv a:hover {
  opacity: 0.7;
}

.hero-container .hero-info .hero-download-cv .download-icon {
  margin-left: 10px;
}

.hero-container .vector {
  width: 440px;
  height: 367px;
}

@media (max-width: 920px) {
  .hero-container .vector {
    display: none;
  }
}

.hero-container .vector img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.hero-container .vector img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#about {
  background: #151022;
  padding: 40px 0px;
}

.about-container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 10px 0px 10px;
}

@media (max-width: 1010px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding: 10px 10px 0px 10px;
  }
}

.about-container .about-image {
  width: 380px;
  height: 380px;
}

@media (max-width: 405px) {
  .about-container .about-image {
    width: 100%;
  }
}

.about-container .about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  border-left: 4px solid #5398BE;
}

.about-container .about-info {
  color: #F4F2F7;
  max-width: 600px;
  padding-bottom: 60px;
}

@media (max-width: 1010px) {
  .about-container .about-info h2 {
    text-align: center;
  }
}

.about-container .about-info p {
  color: #C9C9C9;
  padding-top: 15px;
  line-height: 27px;
}

.about-container .about-info .contact-icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.about-container .about-info .contact-icons i {
  color: #5398BE;
  font-size: 25px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.about-container .about-info .contact-icons i:hover {
  opacity: 0.8;
}

#skills {
  padding: 40px 0px;
}

.skills-container {
  max-width: 1140px;
  padding: 0px 10px;
  margin: 0 auto;
}

.skills-container .skills-header {
  text-align: center;
  padding-top: 60px;
}

.skills-container .skills-header h2 {
  color: #F4F2F7;
}

.skills-container .skills-header #skills-text {
  color: #C9C9C9;
  padding-top: 15px;
}

.skills-container .skills-cards {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 20px;
}

@media (min-width: 666px) and (max-width: 1119px) {
  .skills-container .skills-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 665px) {
  .skills-container .skills-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills-container .card {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #5398BE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (min-width: 666px) and (max-width: 1122px) {
  .skills-container .card {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 665px) {
  .skills-container .card {
    width: 250px;
    height: 250px;
  }
}

.skills-container .card:hover {
  background: #151022;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
}

#project {
  background: #151022;
  padding: 40px 0px;
}

.project-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 0px 60px 0px;
}

.project-container .project-header {
  text-align: center;
}

.project-container .project-header h2 {
  color: #F4F2F7;
}

.project-container .project-header p {
  color: #C9C9C9;
  margin-top: 15px;
}

.project-container .slide-container {
  margin-top: 10px;
  padding: 50px 0px 80px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .slide-container .slide {
  display: none;
}

.project-container .slide-container .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .project-container .slide-container .slide.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .project-container .slide-container .slide.active {
    max-width: 90%;
  }
}

.project-container .slide-container .slide .slide-image {
  width: 540px;
  height: 304px;
  -webkit-animation: fadeUp 0.4s linear backwards;
          animation: fadeUp 0.4s linear backwards;
}

@media (max-width: 576px) {
  .project-container .slide-container .slide .slide-image {
    width: 100%;
    height: 100%;
  }
}

.project-container .slide-container .slide .slide-image img {
  width: 100%;
  border-radius: 5px;
}

.project-container .slide-container .slide .slide-info {
  max-width: 435px;
  margin-left: 100px;
  -webkit-animation: fadeUp 0.4s linear backwards;
          animation: fadeUp 0.4s linear backwards;
}

@media (max-width: 1100px) {
  .project-container .slide-container .slide .slide-info {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 540px;
  }
}

.project-container .slide-container .slide .slide-info h3 {
  color: #F4F2F7;
}

.project-container .slide-container .slide .slide-info p {
  color: #C9C9C9;
  margin-top: 15px;
  line-height: 27px;
}

.project-container .slide-container .slide .slide-info small {
  color: #C9C9C9;
}

.project-container .slide-container .slide .slide-info .demo-button {
  margin-top: 50px;
}

.project-container .slide-container .slide .slide-info .demo-button a {
  background: #5398BE;
  border-radius: 5px;
  padding: 15px 30px;
  color: #F4F2F7;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 50px;
}

.project-container .slide-container .slide .slide-info .demo-button a:hover {
  opacity: 0.8;
}

.project-container .slide-container .slide .slide-info .demo-button a .demo-icon {
  vertical-align: middle;
  margin-left: 5px;
}

.project-container .slide-container .controls {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.project-container .slide-container .controls .prev-slide,
.project-container .slide-container .controls .next-slide {
  color: #5398BE;
  font-size: 30px;
  cursor: pointer;
}

.project-container .slide-container .controls .prev-slide:hover,
.project-container .slide-container .controls .next-slide:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project-container .slide-container .controls .prev-slide {
  left: 0;
}

.project-container .slide-container .controls .next-slide {
  right: 0;
}

footer {
  height: 75px;
}

@media (max-width: 465px) {
  footer {
    height: auto;
  }
}

.footer-container {
  max-width: 1140px;
  padding: 0px 10px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 465px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-container p {
  color: #C9C9C9;
}

@media (max-width: 465px) {
  .footer-container p {
    margin-top: 30px;
  }
}

.footer-container .footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (max-width: 465px) {
  .footer-container .footer-email {
    margin-bottom: 20px;
  }
}

.footer-container .footer-email:hover {
  opacity: 0.8;
}

.footer-container .footer-email i {
  color: #5398BE;
  font-size: 25px;
  padding-right: 15px;
}

@media (max-width: 465px) {
  .footer-container .footer-email i {
    margin-top: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #0E091B;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 11px;
}

html::-webkit-scrollbar-track {
  background: #A5A5A5;
}

html::-webkit-scrollbar-thumb {
  background: #D7D7D7;
  border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */