.tab {
    max-width: 100rem;
    position: relative;
}

.tab__item {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.tab__item--category {
    padding: 1.7rem 2rem;
    color: var(--black);
    background-color: #FFF;
    border-left: 0.3rem solid var(--gray);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    transition: border 0.3s ease-in-out;
    cursor: pointer;
}

.tab__item--category:hover {
    border-left: 0.3rem solid var(--lilac);
    border-image: var(--lilac);
    border-image-slice: 1;
    background-color: var(--purple);
}

.tab__item--category.active {
    border-left: 0.3rem solid var(--lilac);
    border-image: var(--purple);
    border-image-slice: 1;
    background-color: var(--gray);
    font-weight: 500;
}

.tab__item--panel {
    display: none;
}

.tab__item--panel.active {
    display: block;
}

.tab__item--info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.7rem;
    margin-left: 10rem;
    padding: 1rem;
    position: absolute;
    top: 0;
    opacity: 1;
    animation: fadeIn .5s ease-in 1;
}

.tab__item--title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
}

.tab__item--title h4 > span{
    margin-left: 0.5rem;
}

.tab__item--title span {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.credential-id {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--lilac);
    text-decoration: underline;
}

.tab__item--description {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--gray-200);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ---- Media queries ---- */
@media (max-width: 600px) {
    .tab__item {
        display: block;
    }

    .tab__item:last-child {
        margin-top: 3rem;
    }

    .tab__item--category {
        background-color: var(--gray);
        border-left: 0.3rem solid var(--lilac);
    }

    .tab__item--panel {
        display: block;
        margin-top: 2rem;
    }

    .tab__item--info {
        position: relative;
        margin-left: 0;
    }
}