$purple: #0E091B;
$purple-light: #151022;
$purple-dark: #0A0515;

$blue: #5398BE;
$blue-light: #7EB4D2;
$blue-dark: #417E9F;

$gray: #C9C9C9;
$gray-light: #D7D7D7;
$gray-dark: #A5A5A5;

$white: #F4F2F7;
$white-light: #FBFAFC;
$white-dark: #EAEAEA;

$black: #242329;
$black-light: #28262A;
$black-dark: #16161A;

$border-light: #2C2837;
