header {
    width: 100%;
    z-index: 999;
    position: fixed;
    background: $black;
    border-bottom: 2px solid $border;
}

nav {
    @include container;
    @include flexboxSpaceBetweenCenter;

    height: 75px;  

    .brand {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $blue;
        text-transform: uppercase;
    }

    .menu-toggle {
        display: none;

        @media(max-width: 620px) {
            display: block;
            width: 35px;            // Definir o tamanho do container que engloba o menu toggle   
            height: 30px;
            margin-right: 20px;
            
            .one,
            .two,
            .three {
                background-color: $gray-light;     // Criar os três traços do menu hambúrguer
                height: 4px;
                width: 100%;
                border-radius: 6px;
                margin: 6px auto;
                transition-duration: 0.3s;
            }

            .one {
                margin-top: 0px;
            }
        }
    }

    .nav-items {
        @media (max-width: 620px) {
            display: none;
        }

        ul {
            @include flexboxEndCenter;

            height: 100%;
            gap: 40px;

            li {
                list-style: none;

                a {
                    color: $white;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        color: $white-dark;
                    }
                }
            }
        }
    }
    
}

nav.on {
    @media (max-width: 620px) {
        @include flexboxCenterCenter;
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;   
        height: 100vh;
        background-color: $black-light;
        z-index: 10;                        // Ficar posicionado sobre os demais elementos da página
    }

    .nav-items {
        @media (max-width: 620px) {
            display: block;
        }

        ul {
            @media (max-width: 620px) {
                text-align: center;                  
                display: block;
            }

            a {
                @media (max-width: 620px) {
                    transition-duration: 0.5s;
                    font-size: 25px;
                    line-height: 70px;        // aumenta a distância de um item para o outro
                    display: block;
                }
            }
        }
    }

    .menu-toggle {
        @media (max-width: 620px) {
            position: absolute;
            right: 12px;
            top: 25px;
        }

        .one {
            @media (max-width: 620px) {
                transform: rotate(45deg) translate(6px, 6px);
            }
        }

        .two {
            @media (max-width: 620px) {
                opacity: 0;
            }
        }

        .three {
            @media (max-width: 620px) {
                transform: rotate(-45deg) translate(8px, -9px);
            }
        }
    }
}
