#skills {
    padding: 40px 0px;
}

.skills-container {
    @include container;

    .skills-header {
        text-align: center;
        padding-top: 60px;
        
        h2 {
            color: $white;
        }
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 160px);
        grid-gap: 40px;
        justify-content: space-around; 
        margin: 45px 0px;
    }

    .card {
        @include flexboxCenterCenter;

        width: 160px;
        height: 160px;
        border-radius: 5px;
        border: 1px solid $blue;
        margin-bottom: 40px;
        transition: all .5s ease;
        
        &:hover {
            background: $black-light;
            transform: translateY(-8px);
        }
    }
}