footer {
    background-color: var(--blue);
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 1.5rem;
    color: var(--footer-text);
}

.footer__email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: var(--footer-text);
}

.email-icon {
    color: var(--lilac);
    font-size: 2rem;
}


/* ---- Media queries ---- */
@media (max-width: 455px) {
    footer .container {
        flex-direction: column;
        gap: 2rem;
    }
}