footer {
    background-color: var(--blue);
}

footer .container {
    padding: 35px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #C9C9C9;
}

.footer__email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #C9C9C9;
}

.email-icon {
    color: var(--lilac);
    font-size: 20px;
}